body{
    font-family : Arial, sans-serif;
    margin : 10px;
    padding : 20px;
    background-color : lightseagreen;
}

.container{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    height : 100hv;
    background-color : white;
    padding : 100px;
    
}


.buttons {
    margin: 20px;
   
}

.buttons button {
    margin : 20px;
    padding : 10px 30px;
    font-size : 18px;
    cursor : pointer;
    border-radius : 5px;
    background-color : light-grey;
}

.buttons button:hover{
    background-color : rgb(133, 209, 209);
}

.text-box {
    width : 600px;
    height : 200px;
    padding-top : 10px;
    padding-bottom : 10px;
    border : 2px solid black;
    border-radius : 5px;
    box-sizing : border-box;
    font-size : 20px;
    margin : 10px;
}

.
